<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkV00E5iARxxSUrheqZYEIEXqK2UER8fM</string>
	<key>GCM_SENDER_ID</key>
	<string>844666729799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tentacion.tentaciongo</string>
	<key>PROJECT_ID</key>
	<string>tentaciongo-eeb97</string>
	<key>STORAGE_BUCKET</key>
	<string>tentaciongo-eeb97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844666729799:ios:f18b78ff8b1140264a0862</string>
</dict>
</plist>